.container-fluid
  .row
    .col-md-3.col-md-offset-4
      .btn.btn-block.btn-social.btn-github
        = link_to auth_path(provider: 'github'), class: "login-with-github" do
          %span.fa.fa-github
          Login with Github
